@charset "UTF-8";

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot');
    src: url('fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff2') format('woff2'),
         url('fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fonts/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('fonts/roboto_bold_macroman/Roboto-Bold-webfont.eot');
    src: url('fonts/roboto_bold_macroman/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto_bold_macroman/Roboto-Bold-webfont.woff2') format('woff2'),
         url('fonts/roboto_bold_macroman/Roboto-Bold-webfont.woff') format('woff'),
         url('fonts/roboto_bold_macroman/Roboto-Bold-webfont.ttf') format('truetype'),
         url('fonts/roboto_bold_macroman/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedbold';
    src: url('fonts/roboto_boldcondensed_macroman/RobotoCondensed-Bold-webfont.eot');
    src: url('fonts/roboto_boldcondensed_macroman/RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto_boldcondensed_macroman/RobotoCondensed-Bold-webfont.woff2') format('woff2'),
         url('fonts/roboto_boldcondensed_macroman/RobotoCondensed-Bold-webfont.woff') format('woff'),
         url('fonts/roboto_boldcondensed_macroman/RobotoCondensed-Bold-webfont.ttf') format('truetype'),
         url('fonts/roboto_boldcondensed_macroman/RobotoCondensed-Bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: whitesmoke !important;
}

.form-btn {
    background-color: #4f5cbf !important;
}

.active {
	background-color: #4f5cbf !important;
}

.footer {
	position: fixed;
   	left: 0;
	bottom: 0;
	width: 100%;
}
	
	.mainContainer {
		margin: 0;
		width: 100%;
		height: 100%;
	}

		.headerContainer {
/* 			background-color: #4f5cbf; */
			margin: 0;
/* 			width: 100%; */
/* 			height: 15%; */
/* 			overflow: hidden; */
		}
		
			.header {
				display: inline-block;
				width: 100%;
				height: 100%;
				overflow: hidden;
			}
			
			.navbar {
				max-height: 86px;
			}
			
			.navbar-custom {
				background-color: #4f5cbf;
				overflow: hidden;
			}
			
			.navbar-brand {
				font-weight: bold;
				color: #ffffff;
			}
			
			.navbar-brand:active, .navbar-brand:hover {
				color: #c0c0c0;
			}
			
			/* 
				TODO: Because of these changes, the hamburger menu icon no longer
				displays properly.
			*/
			.navbar-custom .navbar-nav .nav-link {
				color: #ffffff;
			}
			
			.navbar-custom .navbar-text {
				color: #ffffff;
			}
			
			.navbar .nav-link {
				color: #ffffff;
			}
			
			.navbar-custom .nav-link:active,
			.navbar-custom .nav-link:hover {
				color: #c0c0c0;
			}
			
			.navbar-custom .navbar-brand {
				overflow: hidden;
			}
		
		.contentContainer {
/* 			background-color: #ffffff; */
			margin: 0;
			max-width: 100%;
			height: 85%;
		}
		
		.content {
			padding: 1em;
		}
		
		.footerContainer {
/* 			background-color: #4f5cbf; */
			margin: 0;
/* 			height: 15%; */
		}
		
		h1, h3 {
			margin: 0;
			font-family: "robotoregular";
		}
		
		/* /* h3 {
/* 			float: right; */
        /* } * */

		#admin-title {
			text-align: center;
			color: #4f5cbf;
		}

		#employee-title {
			text-align: center;
			color: #4f5cbf;
		}

		#user-title {
			text-align: center;
			color: #4f5cbf;
		}